@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
/* 
@media only screen and (max-width: 1000px) {
    form {
        margin-right:0px;
        
    }
  } */

body {
  /* background-color: #efefef; */
  color: black;
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  direction: rtl;
}

form {
  /* border-top: 5px solid #01caa7; */
  width: 55vh;
  /* margin-right: 100px; */
  /* margin: 40px auto; */
  
}

fieldset {
  margin: auto;
  width: 47vh;
  height: auto;
  border: white;;
  background: #fdfdfd;
  padding: 40px;
  font-size: 15px;
  color: black;
  /* direction: rtl; */
  
}

form div {
  padding: 0 0 20px 0;
}

form label {
  /* float: right; */
  /* width: 200px; */
  font-size: 1em;
  /* line-height: 40px; */
  color: #111;
  display: block;
  width: 70%;
}
/* 
form label.mid {
  
} */

form input, form select {
 /* background: #01caa7; */
	border: 1px solid black;
	color: black;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 30px;
	margin: 0;
	/* padding: 0 10px; */
	/* width: 240px; */
    vertical-align: middle;
    width: 80%;  
    margin-top: 6px; 
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #2772a3;
  outline: none;
}

form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}

form input.button {
  width: 270px;
  height: 40px;
  border: 0px solid #fff;
}

form textarea {
  width: 240px;
  height: 200px;
  padding: 10px;
  background: #01caa7;
  border: 2px solid #fff;
  color: #fff;
}

form input.submit { 
  /* margin-left: 200px; */
  
  /* width: 70px; */
  height: 40px;
  color: #fff;
  background-color: red;
  border-radius: 8px;
  border-color: white;
  display: block;
  margin-bottom: 30px;
  font-size: 1.2em;


}

form input.submit:hover { 
 background: #1d9676 ;
	background: -webkit-linear-gradient(#9e2f2f, #eb605c);	
	background: -moz-linear-gradient(#9e2f2f, #9e2f2f);	
	background: -o-linear-gradient(#9e2f2f, #9e2f2f);	
	background: -ms-linear-gradient(#9e2f2f, #9e2f2f);	
	background: linear-gradient(#9e2f2f, #9e2f2f);	
}

#smallSubmit{
  max-width: 10vh;
}

#mediumSbmit{
  max-width: 40vh;

}

/* fieldset > div{
  display: grid;
  justify-items: center;
} */

.notGrid{
  display: inline-block;
  margin-right: 55px;
}

/* check box */

.label-block {
    display: inline;
    position: relative;
    padding-left: 0;
    /* margin-top: 30px; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
    cursor: pointer;
     -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15;
     }
     /* Hide the browser's default checkbox */
     .label-block input {
         /* position: absolute; */
         opacity: 0;
         cursor: pointer;
         height: 0;
         width: 0;
     }
     /* Create a custom checkbox */
     .checkmark {
         position: absolute;
         top: 0;
         left: -13px;
         height: 20px;
         width: 20px;
         border-radius: 6px;
         background-color: #ddd;
     }
     /* On mouse-over, add a grey background color */
     .label-block:hover input ~ .checkmark {
         background-color: #ccc;
     }
 
     /* When the checkbox is checked, add a blue background */
     .label-block input:checked ~ .checkmark {
         background-color: #3498db;
     }
 
     /* Create the checkmark/indicator (hidden when not checked) */
     .label-block:after {
         content: '';
         position: absolute;
         display: none;
     }
 
     /* Show the checkmark when checked */
     .label-block input:checked ~ .checkmark:after {
         content: '';
         position: absolute;
         display: block;
         top: 2px;
         left: 7px;
     }
 
     /* Style the checkmark/indicator */
     .label-block .checkmark:after {
    
         width: 5px;
         height: 10px;
         border: solid white;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
     }



     #checkBoxText{
         position: relative;
         margin-right: 20px;
         width: 80%;
     }

     #checkBoxLable{

         display: inline-flex;
         margin-right: 30px;
     }   

     /* .centerDiv{
         display: grid;
         justify-items: center;

     } */
     .catalogContainer{
         display: grid;
         justify-items: center;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
         justify-content: center;
     }

     div.catalogContainer > img  {
        padding: 0;
        display: block;
        margin: 10px ;
        max-height: 25vh;
        max-width: 25vh;
    }

    div.contentContainer > img  {
        padding: 0;
        display: block;
        margin: 10px ;
        max-height: 50vh;
        max-width: 50vh;
    }
    

    .leftCol{
        justify-self: end;
    }
    .rightCol{
        justify-self: start;
    }

    .contentContainer{
        display: grid;
        justify-items: center;
        justify-content: center;
        /* direction: rtl; */
    }

    span{
    color: #333333;
    font-size: 18px;
    /* font-weight: bold; */
    text-align: center;
    border-bottom: 0px solid #333333;
    border-radius: 0px;
    background-color: #ffffff;
    }

    