@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

body {
  /* background-color: #efefef; */
  color: white;
  font-size: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
}

form {
  /* border-top: 5px solid #01caa7; */
  width: 552px;
  margin: 40px auto;
  
}

fieldset {
  margin: auto;
  width: 470px;
  height: auto;
  border: white;;
  background: #fdfdfd;
  padding: 40px;
  font-size: 15px;
  color: #666666;
  direction: rtl;
  
}
/* 
form div {
  padding: 0 0 40px 0;
} */

form label {
  /* float: right; */
  /* width: 200px; */
  font-size: 1em;
  line-height: 40px;

  color: #111;
}
/* 
form label.mid {
  
} */

form input, form select {
 /* background: #01caa7; */
	border: 1px solid black;
	color: black;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 1em;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	width: 240px;
    vertical-align: middle;
    
}

form input:hover, form select:hover, form textarea:hover {
	border: 2px solid #2b7b5c;
}

form input:focus, form select:focus, form textarea:focus {
  border-color: #2b7b5c;
  outline: none;
}

form select {
  margin-bottom: 40px;
  width: 260px;
  border-radius: 0;
  /* float: right; */
}

form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
}

form input.button {
  width: 270px;
  height: 40px;
  border: 0px solid #fff;
}

form textarea {
  width: 240px;
  height: 200px;
  padding: 10px;
  background: #01caa7;
  border: 2px solid #fff;
  color: #fff;
}

form input.submit { 
  margin-left: 200px;
  width: 100px;
  height: 40px;
  color: #fff;
}

form input.submit:hover { 
 background: #1d9676;
	background: -webkit-linear-gradient(#1d9676, #01caa7);	
	background: -moz-linear-gradient(#1d9676, #01caa7);	
	background: -o-linear-gradient(#1d9676, #01caa7);	
	background: -ms-linear-gradient(#1d9676, #01caa7);	
	background: linear-gradient(#1d9676, #01caa7);	
}